<div class='card'>
    <ul>
        <img src="{{flags.svg}}" alt="{{name.official}}" width=100 />
        <h2>{{name.official}}</h2>
        <p>{{capital}}</p>
        <p>{{population}}</p>
        <p>{{languages.spa}}</p>
    </ul>


</div>










{{!-- name.official - полное имя страны
capital - столица
population - население
flags.svg - ссылка на изображение флага
languages --}}